.container
  .row
    .col-md-8.offset-md-2
      %h1= @representative.name
      %p
        %strong Office:
        = @representative.title
      %p
        %strong Party:
        = @representative.political_party
      %p
        %strong Contact Address:
        = @representative.contact_address
        %br
        = @representative.contact_city
        %br
        = @representative.contact_state
        %br
        = @representative.contact_zip
      - if @representative.photo_url.present?
        %img{ src: @representative.photo_url, alt: "#{@representative.name}'s photo", class: 'img-fluid' }
      %p
        = link_to 'Back to Representatives', representatives_path, class: 'btn btn-primary'
