.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Edit news article

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %form{ action: representative_new_my_news_item_path, method: :post }
            .form-group.row
                .col-sm-2
                    = label :representative, 'Representative:', class: 'col-form-label'
                .col-sm-10
                    = link_to @representative_name, representative_path(@representative),
                        class: 'form-control', target: '_blank', rel: 'noopener'

            .form-group.row
                .col-sm-2
                    = label :issue, 'Issue:', class: 'col-form-label'
                .col-sm-10
                    = text_field_tag :issue, @issue, class: 'form-control', readonly: true

            .form-group.row
                .col-sm-2
                    = label :articles, 'Select an article:', class: 'col-form-label'
                .col-sm-10
                    - @top_articles.each_with_index do |article, index|
                        .form-check
                            = radio_button_tag 'selected_article', article.url, id: "article_#{index}",
                                class: 'form-check-input'
                            = label_tag "article_#{index}", class: 'form-check-label' do
                                %strong= article.title
                                %p
                                    %a{ href: article.url, target: '_blank', rel: 'noopener' }= article.url
                                %p= article.description

            .form-group.row
                .col-sm-2
                    = label :rating, 'Rating:', class: 'col-form-label'
                .col-sm-10
                    = select_tag :rating, options_for_select((1..5).to_a, @ratings), class: 'form-control'

            .actions
                = submit_tag 'Save', class: 'btn btn-primary'

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        .clearfix.mt-3
            .float-right
                = link_to representative_news_items_path(@representative), class: 'btn btn-info' do
                    View news articles
                    %i.fas.fa-arrow-right
